<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Detail</h1>
      <div class="title">{{blog.title}}</div>
    <div class="body">{{blog.body}}</div>
    <div class="author">{{blog.author}}</div>
    <div class="status">{{blog.status}}</div>
    <div class="created">{{blog.created}}</div>
    <div class="updated">{{blog.updated}}</div>
</body>
</html>